.indiga-label {
	display: block;
	margin-bottom: 4px;
}

.wpcf7-form-control-wrap {
	display: block;
}

.wpcf7-form-control {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 4px;
	padding: 8px;
}

.wpcf7-radio {
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin: 8px 0;
}

.wpcf7-list-item {
	display: block;
}

.wpcf7-list-item label {
	display: inline-flex;
	gap: 8px;
	cursor: pointer;
}

.wpcf7-list-item input[type="radio"] {
	width: 24px;
	height: 24px;
}
