.indiga-label {
	font-weight: bold;
	display: block;
	margin-bottom: 4px;
}

.wpcf7-form-control-wrap {
	display: block;
}

.wpcf7-form-control {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 4px;
	padding: 8px;
}
