.form-preview {
	max-width: 750px;
}

.form-preview-field {
	position: relative;

	&__preview {
		max-width: 750px;
		width: 100%;
	}

	&__options {
		margin-top: 1rem;

		form {
			label {
				display: block;
			}

			input[type="text"],
			input[type="number"],
			select,
			textarea {
				width: 100%;
				padding: 0.5rem;
				border: 1px solid #ccc;
				border-radius: 4px;
			}

			input[type="number"] {
				width: 80px;
			}

			select,
			label:has(input[type="radio"]),
			label:has(input[type="checkbox"]) {
				cursor: pointer;
			}
		}
	}
}

button#add-new-field {
	max-width: 750px;
	width: 100%;
	margin-right: 350px;
}

details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}
